	body{

		background-color: #f1f1f1;
		height: 100%;
		width: 100%;
	}
	header{
		width: 100%;
		height: 200px;
		
		margin: 0 auto;
		position: relative;
	}
		
		main{
			width: 1210px;
			height: 100%;
			margin: 0 auto;

			overflow: hidden;
			margin-top: 50px;
			
		}
		.main_info{
			width: 900px;
			height: 100%;
			background-color: #ffffff;
			float: left;

			word-wrap: break-word;

	
		}
		.detail{
			width: 280px;
			height: 100%;
			margin-left: 30px;
			float: left;
			

		}
		.detail>div{
			background-color: #ffffff;
				width: 280px;
			

		}
		.search{
		
			height: 60px;
			top: 0px;
			
			
		}
		.notice{
				margin-top: 30px;

			
			height: 340px;
			
			
		}
		.category{
				margin-top: 30px;
			height: 100%;

		}
		.archive{
				margin-top: 30px;
			height: 100%;
		}
		.tag_cloud{
				margin-top: 30px;
			height: 100%;
		}
		.scrap{
				margin-top: 30px;
			height: 100%;
		}
		.nav_title li{
			float: left;

		}

		.header_top{
			width: 100%;
			height: 50px;
			overflow: hidden;
				color: #ffffff;
				
		

		}

		.header_top>div{
			float: left;

		
		}

		.logo{
			height: 50px;
			width: 200px;
			line-height: 50px;
			text-align: center;
			
			font-size: 24px;
			margin-left: 160px;

		}
		.nav{
			height: 50px;
			width: 600px;
			margin-left: 550px;
		
				


		}
		.nav ul{
			height: 50px;
			width: 600px;

		}
		.nav ul li{
			height: 50px;
			width: 120px;
			line-height: 50px;
			text-align: center;
		}
		.bg{
			height: 200px;
			width: 100%;
			position: absolute;
			z-index: -999

		}
		img{
			height: 100%;
			width: 100%;

		}
		.notice> img{
			width:200px;
			height: 200px;
			margin-left: 40px;
			margin-top: 60px;
		}
		.detail_title{
			width: 110px;
			height: 40px;
			margin-left: 20px;
			border-bottom: 3px solid #737a8a;
			line-height: 40px;

		}
		 h3{
			font-size: 20px;
			margin-left: 10px;
		}
		.detail_list{
			width: 260px;
			height: 100%;
			margin-left: 40px;
		}
		.detail_list li{
			width: 260px;
			height: 30px;
			line-height: 30px;

		}
		.tag_list{
			width: 260px;
			height: 100%;
			margin-left: 10px;
		}
		.tag_list span{


			border: 1px solid darkgrey;
			margin-left: 5px;
			display: inline-block;
			margin-top: 10px;
		}
		.post_info{


			width: 800px;
			height: 100%;
			margin-left: 50px;
			margin-top: 30px;
		}
		.post_title{
			width: 800px;
			height: 80px;
			font-size: 34px;
			line-height: 80px;
			text-align: center;
			border-bottom: 5px solid #737a8a;

		}
		.post_list{
			width: 800px;
			height: 100%;
				margin-top: 30px;

		}
		.post_list ul {
				width: 760px;
			height: 100%;
			margin-left: 20px;
		}
		.post_list ul li{
			width:760px ;
			height: 60px;
			line-height: 60px;
				border-bottom: 2px solid #737a8a;

		}
		.post_list ul li span{
			display: inline-block;

			margin-left: 10px;
			font-size: 18px;
		}
		.post_list ul li a{


			color: #737a8a;
			font-size: 20px;
		}
		.post_list ul li a:hover{


			color: #000000;
			font-size: 20px;
		}

		.post-detail-author,.post-detail-date{

			width: 100%;height: 40px;
			line-height: 40px;
			text-align: center;
			margin-left: -50px;
		}
		.post-detail-author{
			font-size: 20px;
			color: #0f140f;
		}
		.post-detail-body{
			margin-left: -50px;

			line-height: 30px;
			margin-top: 40px;


		}
		.views-detail-count{

			width: 100px;
			height: 40px;
			line-height: 40px;
			margin-left: 650px;

		}
		.comment-area{
					width: 800px;
			height: 100%;
			margin-left: 50px;
			margin-top: 30px;
			border-top: 2px solid #737a8a;
		}
		.comment-title,.comment_post{
			width: 110px;
			height: 40px;
			border-bottom: 3px solid #737a8a;
			line-height: 40px;

		}
		.commont_count{
			width: 100px;
			height: 40px;
			line-height: 40px;
			margin-left: 600px;
		}
	.comment-list{
		width: 100%;
		margin-top: 30px;
		border-top: 1px solid #737a8a;
				 }

	.comment-list li{
		width: 100%;
		margin-top: 20px;
		border-bottom: 1px solid #737a8a;

	}
	.comment_author{
		width: 100%;
		height: 60px;
		line-height: 60px;

	}
	.nickname{
		height: 60px;
		width: 100px;

	}
	.submit-date{
		height: 60px;
		width: 150px;
		margin-left: 500px;
	}
	.text{
		line-height: 40px;
	}