<!DOCTYPE html>
<!--  {% load staticfiles %}
{% load blog_tags %} -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>以黑为白</title>
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/common.css' %}">


</head>
<body>


	<header>

		<div class="bg">
			<img src="{% static 'blog/img/header_bg.jpg' %}"/>
		</div>


	<div class="header_top">
		<div class="logo">
				<a href="{% url 'blog:index' %}">以黑为白</a>
		</div>
		<div class="nav">

			<ul class="nav_title">
				<li><a href="{% url 'myApp:index' %}">首页</a></li>
				<li><a href="{% url 'blog:full' %}">文章</a></li>
				<li><a href="{% url 'myApp:about' %}">关于我</a></li>
				<li><a href="{% url 'myApp:contact' %}">联系我</a></li>
				<li><a href="{% url 'myApp:rss' %}">RSS</a></li>
			</ul>
		</div>
	</div>
		
	</header>


	<main>
		
		<div class="main_info">
			
                {% block main %}

                {% endblock main %}
		</div>
		<div class="detail">

			<div class="search">
				<form role="search" method="get" id="searchform" action="{% url 'blog:search' %}">
                            <input type="search" placeholder="搜索" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
			</div>
			<div class="notice">
                <div class="detail_title">
                <h3 class="widget-title">本站公告</h3>
                    </div>
                <img src="{% static 'blog/img/twitter.jpg' %}" />
				
			</div>
				   {% block toc %}
                    {% endblock toc %}
			    <div class="scrap">
			    
                   <div class="detail_title">
                    <h3 class="widget-title">最新文章</h3>
                   </div>
                    {% get_recent_posts as recent_post_list %}


                    <ul class="detail_list">

                        {% for post in recent_post_list %}
                              <li>
                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                        </li>


                            {% empty %}
                            暂无文章

                        {% endfor %}

                    </ul>
               
			   
			    </div>

			    <div class="category">
                  <div class="detail_title">
			    	 <h3 class="widget-title">分类</h3>
                  </div>

                    {% get_categories as category_list %}

                    <ul class="detail_list">

                        {% for category in category_list %}



                        <li>
                            <a href="{% url 'myApp:category' category.pk %}">{{ category.name }}
                            <span class="post-count">({{ category.num_posts }})</span>
                            </a>
                        </li>
                            {% empty %}
                                 暂无分类！
                           {% endfor %}

                    </ul>
			    </div>

			    <div class="archive">
                  <div class="detail_title">
			    	 <h3 class="widget-title">归档</h3>
                  </div>
                    {% archives as data_list %}
                    <ul class="detail_list">

                        {% for date in date_list %}
                             <li>
                            <a href="{% url 'myApp:archives' date.year date.month %}">{{ date.year }} 年 {{ date.month }} 月</a>
                        </li>
                            {% empty %}
                                暂无归档！

                        {% endfor %}

                    </ul>
			    </div>

			    <div class="tag_cloud">
                        <div class="detail_title">
			    	<h3 class="widget-title">标签云</h3>
                        </div>
                   {% get_tags as tag_list %}
                    <div class="tag_list">
                        {% for tag in tag_list %}
                        <span>
                        <a href="{% url 'myApp:tag' tag.pk %}">{{ tag.name }}</a>
                        </span>

                            {%  empty %}
                            暂无标签！
                        {% endfor %}

                    </div>
			    </div>
			

		</div>
	</main>	

	<footer>
	

	</footer>
</body>
</html>